@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
	background-image: url(../../../images/body_bg.gif);
	background-repeat: repeat;
}
#login {
	background-image: url(../img/login-bg.png);
	background-repeat: no-repeat;
	padding: 0px;
	height: 593px;
	width: 649px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
.title {
	position: absolute;
	height: 35px;
	width: 404px;
	left: 110px;
	top: 234px;
	font-family: "微软雅黑";
	font-size: 24px;
	line-height: 35px;
	font-weight: bolder;
	color: #999;
	text-align: center;
}
.tishi {
	position: absolute;
	height: 30px;
	width: 386px;
	left: 125px;
	top: 471px;
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color: #999;
	text-align: center;
}

.login-content {
	position: absolute;
	height: 139px;
	width: 212px;
	left: 213px;
	top: 307px;
}
.login-content ul {
	margin: 0px;
	padding: 0px;

}
.login-content li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: 100%;
	display: block;
	line-height: 25px;
	font-family: "宋体";
	font-size: 12px;
	color: #999;
}
.login-content li a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #999;
}
.login-content li a:hover {
	color: #666;
	text-decoration: underline;
}
.login-content li img {
	height: 25px;
}



.userpass {
	margin: 0px;
	padding: 0px;
	height: 20px;
	width: 150px;
	border: 1px solid #999;
	background-color: #FEFEDC;
	line-height: 20px;
	color: #999;
}
.code {
	margin: 0px;
	padding: 0px;
	height: 20px;
	width: 100px;
	border: 1px solid #999;
	background-color: #FEFEDC;
	line-height: 20px;
	color: #999;
}
